# Logs
*.log
npm-debug.log

# Runtime data
tmp
build
dist

# Dependency directory
node_modules


build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore
package-json.lock
*.keystore